.conteiner {
    border: 1px solid #ccc;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    background: #ccc;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.conteinerSub {
    display: inline;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.inputs {
    display: flex;
    margin: auto;
}